@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .coba-class{
        @apply text-black 
        text-center text-base
    }  
    
    .grotesk{
        font-family: 'Space Grotesk';
    }

    .syne{
        font-family: 'Syne';
    }

    .navbar-nav{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */
        
        
        /* Black */
        
        color: #000000;
        
        opacity: 0.5;
        
    }
}