@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .coba-class{
        @apply text-black 
        text-center text-base
    }  

    .navbar-nav{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;   
        opacity: 0.5; 
    }

    .navbar-wrap{
        border-bottom: 1px solid #F8E0FB;
    }

    #hero h1{
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        line-height: 96px;
        /* or 120% */
        
        text-align: center;
        
        /* Black */
        
        color: #000000;
        
        text-shadow: -5px 5px 0px #FFFFFF;
    }

    #hero p, 
    #features p,
    #teams p,
    #provide p,
    #testi p,
    #frequently .frequently-list p,
    #sell p
    {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        text-align: center;

        /* Accent */

        color: #532C59;
    }

    #hero button,
    #sell button{
        width: 114px;
        height: 52px;

        /* Accent */

        background: #532C59;
        border-radius: 15px;
        color: white;
    }
    
    /* #hero {
        background-image: url("./assets/images/bg-hero.png");
        background-repeat: no-repeat;
        background-size: cover;
    } */

    #features h2, 
    #teams h2,
    #provide h2,
    #testi h2,
    #frequently h2,
    #sell h2{
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        /* identical to box height, or 133% */

        text-align: center;

        /* Black */

        color: #000000;

    }

    #features h3{
        font-family: 'Syne';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        /* identical to box height, or 131% */

        text-align: center;

        /* Black */

        color: #000000;
    }

    #features .card{
        width: 412px;
        height: 548px;
    }

    #teams .member{
        width: 301px;
        height: 156px;
    }

    #teams .member h4{
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #000000;
    }

    #provide .provide-detail{
        width: 301px;
        height: 200px;
    }

    #testi .testi-card{
        width: 380px;
        height: fit-content;
        border: 1px solid #D6BCFA;
        border-radius: 10px;
    }

    #testi .testi-card-detail h5{
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Black */

        color: #000000;
    }

    #testi .text-detail{
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */


        /* Black */

        color: #000000;

        opacity: 0.5;
    }

    #testi .text-p{
        text-align: left;
        @apply mt-6
    }

    #frequently .frequently-desc{
        width: 412px;
        height: 128px;
    }

    #frequently .frequently-list{
        width: 412px;
        height: fit-content;
        border: 1px solid #D6BCFA;
        border-radius: 15px;
    }

    #frequently .frequently-list h3{
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        /* or 130% */


        /* Black */

        color: #000000;

        opacity: 0.8;
    }

    #frequently .text-title{
        font-family: 'Syne';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        text-align: left;
        /* or 133% */


        /* Black */

        color: #000000;
    }

    #frequently .frequently-list p{
        text-align: left;
    }

    #footer p{
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        
        text-align: center;
        
        /* Black */
        
        color: #000000;
        
        opacity: 0.5;

    }


}
